<header class="navbar navbar-inverse navbar-fixed-top ani-nav" role="banner"
        data-ng-controller="topnavController as vm">
    <div class="navbar-header">
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <nav class="navbar-logo">
            <ul class="nav navbar-nav">
                <li data-ng-class="{active: vm.isRoute('musicCollection')}">
                    <a data-ng-href="#/musicCollection">Music Collection</a>
                </li>
                <li data-ng-class="{active: vm.isRoute('submissionForm')}">
                    <a data-ng-href="#/submissionForm">Submission Form</a>
                </li>
                <li>
                    <a href="/Blog">Blog</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
